<div class="container">
  <div class="row col-md-4 col-md-offset-4" style="left: 0%; top: 70px;">
    <h1>Editing User</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @superadmin %> |
    <%= link_to 'Back', superadmins_path %>
  </div>
</div>