<% content_for :title do %>About<% end %>
<div class="row col-md-4 col-md-offset-4" style="left: 0%; top: 70px;">
<h3>About the Website</h3>

<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
</div>