<div class="container">
  <div class="row col-md-4 col-md-offset-4" style="left: 0%; top: 70px;">
    <p id="notice"><%= notice %></p>
<h1>New Course</h1>

<%= render 'form' %>

<%= link_to 'Back', courses_path %>
</div>
  </div>